* {
    border-radius: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 700px;
    background-color: rgba(178, 75, 238, 0.267);
    text-align: center;
    color: rgba(255, 255, 255, 0.692);
    font-size: 75px;
    text-shadow: 10px 12px rgba(13, 48, 59, 0.767);
}

img{
    width: 350px;
    height: 300px;
    opacity: 90%;
}